
body, html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.2;
    color: black;
    background-color: beige;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1px 1px 10px 0px;
    background-color: rgb(0, 0, 0);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    min-width: 500px;
}

nav a {
    font-weight: bold;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

nav li {
    margin-right: 10px;
    border-bottom: 2px solid #ffffff;
    padding: 0 5px;
}

h1 {
    background-color: rgb(0, 100, 30);
    padding: 5px 5px 5px 35px;  
}

h2 {
    width: 6px;
    font-size: larger;
}

.hero-container {
    text-align: end;
    background-image: url('./image_assets/dessert\ mountains.jpeg');
    background-size: cover;
    background-position: center top;
    height: 400px;
    position: relative;
}

.herotext {
    position: absolute;
    background-color: black;
    color: white;
    font-size: larger;
    padding: 20px;
    bottom: 10px;
    right: 2%;
    font-weight: bolder;
}
 
.container {
    display: flex;
    margin-top: 2%;
}

p {
    padding-top: 6%;
    text-align: left;
}

aside {
    margin: 10px 2px 10px 2px;
    border-right: 2px solid black;
    padding:10%;
}

.paragraph {
    display: flex;
    padding-left: 1.5%;
}

.section-work {
    display: flex;   
}

.work-wrapper {
    display: flex;
    flex-direction: column;
}

.container-work {
    position: relative;
}

.container-work img {
    margin-left: 1.5%;
    border: 5px solid black;
    margin-top: 8%;
    width: 96%;
}

.calculatortext {
    position: absolute;
    background-color: black;
    color: white;
    font-size: larger;
    padding: 20px;
    bottom: 10%;
    left: 1.5%;
    font-weight: bolder;
}

.calculator {
    font-weight: lighter;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.experience {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border: 5px solid black;
    flex: 400px;
    margin: 20px;
    width: 100%;
}
.experience img {
    display: block;
    width: 100%;
    height: auto;
    z-index: 0;
}

.textbox, .textbox-work{
    position: absolute;
    background-color:  black;
    color: white;
    font-size: larger;
    margin-top: 15%;
    padding: 5px;
    z-index: 1;
}

.textbox-work {    
    margin-left: 11%;
}
.contact {
    display: flex;
    align-items: center;
}

.contactlist ul {
  max-width: 500px;
}

.contactlist a {
    font-weight: bold;
    text-decoration: none;
    color: black;
    padding: 15px;
}

.contactlist li {
    margin-right: 10px;
    border-bottom: 2px solid #000;
    padding: 5px;
    list-style-type: none;
}

.contactlist {
    display: flex;
}

.contact .aside3 {
    order: 1;
    display: flex;
    flex-wrap: wrap;

}
.contact img {
    order: 2;
    display: block;
    width: 50%;
    height: 50%;
    position: relative;
    max-width: 90%;
    z-index: 0;
    border: 5px solid black;
    margin: 2%;
}
 .contact .contactlist {
    order: 2;
 }

 footer {
    background-color: black;
    color: white;
    text-align: center;
 }